<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sbmybatis.mapper.SchoolMapper">
    <select id="selectAll" resultType="com.example.sbmybatis.School">
        select * from t_school
    </select>

    <select id="selectClassAll" resultType="school">
        select * from t_class
    </select>
</mapper>